@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.wrapper {
	width: 700px;
	margin: 0 auto;
	font-family: Inter;
}

.table-1,
.table-2 {
	width: 100%;
}

[class*="_head"] {
	text-transform: uppercase;
	text-align: center;
	background-color: rgb(11, 220, 11);
	color: #fff;
	font-weight: 700;
	border: 1px solid #000;
}

[class*="_col"] {
	width: min-content;
	padding: 5px;
	background: #fcf0a8;
	border: 1px solid #000;

	&:nth-child(even) {
		background: #eef184;
	}
}

.table-t {
	border-collapse: collapse;
	width: 100%;
}

.table-f {
	margin-top: 50px;

	&__col {
		box-sizing: border-box;
		float: left;
		width: 100%;
		max-width: calc(100% / 7);
		white-space: nowrap;

		&:last-child{
			max-width: calc(200% / 7);
		}
	}

	&__row {
		overflow: hidden;
	}
}
